<div class="col-xs-12 col-sm-6">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control" th:field="*{nama}" placeholder="Nama Supplier" autofocus>
    <span th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-12">
    <label for="alamat" class="form-label">Alamat</label>
    <input type="text" class="form-control" th:field="*{alamat}" placeholder="Alamat Supplier" >
    <span th:if="${#fields.hasErrors('alamat')}" th:errors="*{alamat}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="telepon" class="form-label">Telepon</label>
    <input type="text" class="form-control" th:field="*{telepon}" placeholder="Telepon Supplier" >
    <span th:if="${#fields.hasErrors('telepon')}" th:errors="*{telepon}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="norek" class="form-label">Nomor Rekening</label>
    <input type="text" class="form-control" th:field="*{norek}" placeholder="Nomor Rekening" >
    <span th:if="${#fields.hasErrors('norek')}" th:errors="*{norek}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="bank" class="form-label">Nama Bank</label>
    <input type="text" class="form-control" th:field="*{bank}" placeholder="Nama Bank" >
    <span th:if="${#fields.hasErrors('bank')}" th:errors="*{bank}" class="text-danger"></span>
    <br/>
</div>
