<div class="col-xs-12 col-sm-3" th:switch="${beli.status}">
    <h3>
        <span th:case="${T(com.lab.klontong.entity.Beli.Status).OPEN}" class="badge badge-info" th:text="${beli.status}"></span>
        <span th:case="${T(com.lab.klontong.entity.Beli.Status).CLOSED}" class="badge badge-success" th:text="${beli.status}"></span>
        <span th:case="${T(com.lab.klontong.entity.Beli.Status).CANCELED}" class="badge badge-danger" th:text="${beli.status}"></span>
    </h3>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="tanggal" class="form-label">Tanggal</label>
    <input type="date" class="form-control" th:field="*{tanggal}" placeholder="Tanggal Pembelian" autofocus>
    <span th:if="${#fields.hasErrors('tanggal')}" th:errors="*{tanggal}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="supplier" class="form-label">Supplier</label>
    <select class="form-control" th:field="*{supplier}" placeholder="Supplier">
        <option th:value="${beli?.supplier?.id}" th:text="${beli?.supplier?.nama}"></option>
    </select>
    <span th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}" class="text-danger"></span>
    <br/>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $("#supplier").select2({
            theme: "bootstrap4",
            ajax: {
                url: '/ac/supplier',
                data: function (params) {
                    var query = {
                        q: params.term
                        // , type: 'public'
                    }
                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                dataType: 'json',
                // delay: 250,
                processResults: function (response) {
                    return {
                        results: response
                    };
                }
                // , cache: true
            }
        });	// END OF supplier select2
    }); // END OF document ready
</script>