<!DOCTYPE html>
<html
        layout:decorate="~{shared/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Transaksi Pembelian</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <h1>Edit Transaksi Pembelian</h1>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <form th:action="@{/beli/update/{id}(id=${beli.id})}" th:object="${beli}" method="post">
                    <div class="card-header">
                        <h3 class="card-title">Pembelian</h3>
                    </div>
                    <div class="card-body">
                        <div th:if="${#fields.hasAnyErrors()}" class="row alert alert-danger">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                            </ul>
                        </div>

                        <div th:insert="beli/_form"></div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Update">
                        <a th:href="@{/beliDt/create?beliId={id}(id=${beli.id})}" class="btn btn-info">Barang</a>
                        <a th:href="@{/beli/closing?beliId={id}(id=${beli.id})}" class="btn btn-warning">Closing</a>
                    </div>
                </form>
            </div>
        </div>



    </section>
    <script type="text/javascript">
        $(document).ready(function() {
        console.log("document ready, create select2 barang");
            $("#barang").select2({
                theme: "bootstrap4",
                ajax: {
                    url: '/ac/barang',
                    data: function (params) {
                        var query = {
                            q: params.term
                            // , type: 'public'
                        }
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json',
                    // delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    }
                    // , cache: true
                }
            });	// END OF barang select2
        }); // END OF document ready
    </script>
</div> <!-- /div fragment content -->

</body>
</html>