<div class="col-xs-12 col-sm-6">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control" th:field="*{nama}" placeholder="Nama Customer" autofocus>
    <span th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-12">
    <label for="alamat" class="form-label">Alamat</label>
    <input type="text" class="form-control" th:field="*{alamat}" placeholder="Alamat Customer" >
    <span th:if="${#fields.hasErrors('alamat')}" th:errors="*{alamat}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="telepon" class="form-label">Telepon</label>
    <input type="text" class="form-control" th:field="*{telepon}" placeholder="Telepon Customer" >
    <span th:if="${#fields.hasErrors('telepon')}" th:errors="*{telepon}" class="text-danger"></span>
    <br/>
</div>
<div class="col-xs-12 col-sm-6">
    <label for="dob" class="form-label">Date of Birth</label>
    <input type="date" class="form-control" th:field="*{dob}" placeholder="Tanggal lahir" >
    <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-danger"></span>
    <br/>
</div>
