<!DOCTYPE html>
<html
        layout:decorate="~{shared/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Klontong</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
<!--             <h1>List Pembelian</h1>-->
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div th:if="${errorMessage != null}" class="row alert alert-danger">
                <ul>
                    <li th:text="${errorMessage}" />
                </ul>
            </div>
        </div> <!-- /.container-fluid -->
    </section>
</div>
</body>
</html>