<tr >
    <td>
        <select class="form-control" th:field="*{barang}" placeholder="Barang">
            <option th:value="${beliDt?.barang?.id}" th:text="${beliDt?.barang?.nama}"></option>
        </select>
        <span th:if="${#fields.hasErrors('barang')}" th:errors="*{barang}" class="text-danger"></span>
    </td>
    <td>
        <input type="number" class="form-control text-right" th:field="*{qty}" />
        <span th:if="${#fields.hasErrors('qty')}" th:errors="*{qty}" class="text-danger"></span>
    </td>
    <td>
        <input type="number" class="form-control text-right" th:field="*{harga}"/>
        <span th:if="${#fields.hasErrors('harga')}" th:errors="*{harga}" class="text-danger"></span>
    </td>
    <td><input type="submit" class="btn btn-primary" value="Save"></td>
    <td></td>
</tr>
<tr th:each="it : ${beli.dt}">
    <td th:text="${it?.barang?.nama}"></td>
    <td th:text="${it?.qty}" class="text-right"></td>
    <td th:text="${it?.harga}" class="text-right"></td>

    <td><a th:href="@{/beliDt/edit/{id}(id=${it.id})}">Edit</a></td>
    <td><a th:href="@{/beliDt/delete/{id}(id=${it.id})}">Delete</a></td>
</tr>