<!DOCTYPE html>
<html
        layout:decorate="~{shared/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Transaksi Pembelian</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <h1>Edit Transaksi Pembelian</h1>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">

                <div class="card-header">
                    <h3 class="card-title">Pembelian</h3>
                </div>
                <div class="card-body">
                    <!-- form ini kayake ga perlu-->
                    <form action="#" th:object="${beli}">
                        <div th:if="${#fields.hasAnyErrors()}" class="row alert alert-danger">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                            </ul>
                        </div>
                    </form>
                    <!-- form ini kayake ga perlu-->

                    <form action="#" th:object="${beliDt}" >
                        <div th:if="${#fields.hasAnyErrors()}" class="row alert alert-danger">
                            <ul>
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                            </ul>
                        </div>
                    </form> <!-- /form beliDt-->

                    <form action="#" th:object="${beli}">
                        <div th:insert="beli/_form"></div>
                    </form>
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>

        <div class="row"></div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Barang yang dibeli</h3>
            </div>
            <div class="card-body">
                <table class="table table-head-fixed table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-3 text-center">Barang</th>
                        <th class="col-sm-2 text-center">Qty</th>
                        <th class="col-sm-2 text-center">Harga</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <form th:action="@{/beliDt/update/{id}(id=${beliDt.id})}" th:object="${beliDt}" method="post">
                    <tbody th:insert="beliDt/_form">

                    </tbody>
                    </form>
                </table> <!-- /.table beliDt -->

            </div>
            <div class="card-footer">
                TOTAL
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
        console.log("document ready, create select2 barang");
            $("#barang").select2({
                theme: "bootstrap4",
                ajax: {
                    url: '/ac/barang',
                    data: function (params) {
                        var query = {
                            q: params.term
                            // , type: 'public'
                        }
                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    dataType: 'json',
                    // delay: 250,
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    }
                    // , cache: true
                }
            });	// END OF barang select2
        }); // END OF document ready
    </script>
</div> <!-- /div fragment content -->

</body>
</html>