<footer class="main-footer">
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> <span th:text="${@environment.getProperty('app.version')}"></span> 
    </div>
</footer>
