<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/">
    	<!-- 
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             src="/AdminLTE-3.1.0/dist/img/AdminLTELogo.png"
             style="opacity: .8">
              -->
        <span class="brand-text font-weight-light">Klontong</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2"
                     src="/AdminLTE-3.1.0/dist/img/user2-160x160.jpg">
            </div>
            <div class="info">
                <a class="d-block" href="#">Alexander Pierce</a>
            </div>
        </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
<!-- 
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Master
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/sparepart/index">
                                <i class="fab fa-apple nav-icon"></i>
                                <p>Sparepart</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kolom/index">
                                <i class="fas fa-grip-lines-vertical nav-icon"></i>
                                <p>Kolom</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/supplier/index">
                                <i class="fas fa-people-carry nav-icon"></i>
                                <p>Supplier</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            User
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/list">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/add">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add User</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <i class="nav-icon fas fa-address-card"></i>
                        <p>Contact</p>
                    </a>
                </li> 
-->
                
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            Master
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/barang/">
                                <i class="nav-icon fas fa-boxes"></i>
                                <p>Barang</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/supplier/">
                                <i class="nav-icon fas fa-user-tie"></i>
                                <p>Supplier</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/customer/">
                                <i class="nav-icon fas fa-walking"></i>
                                <p>Customer</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-exchange-alt"></i>
                        <p>
                            Transaksi
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="/beli/" >
                                <i class="nav-icon fas fa-shopping-basket"></i>
                                <p>Beli</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jual/" >
                                <i class="nav-icon fas fa-hand-holding-usd"></i>
                                <p>Jual</p>
                            </a>
                        </li>
                    </ul>
                </li>
                

                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="nav-icon fas fa-info-circle"></i>
                        <p>About</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
