<div class="col-xs-12 col-sm-3" th:switch="${jual.status}">
  <h3>
    <span th:case="${T(com.lab.klontong.entity.Jual.Status).OPEN}" class="badge badge-info" th:text="${jual.status}"></span>
    <span th:case="${T(com.lab.klontong.entity.Jual.Status).CLOSED}" class="badge badge-success" th:text="${jual.status}"></span>
    <span th:case="${T(com.lab.klontong.entity.Jual.Status).CANCELED}" class="badge badge-danger" th:text="${jual.status}"></span>
  </h3>
  <br/>
</div>
<div class="col-xs-12 col-sm-6">
  <label for="tanggal" class="form-label">Tanggal</label>
  <input type="date" class="form-control" th:field="*{tanggal}" placeholder="Tanggal Penjualan" autofocus>
  <span th:if="${#fields.hasErrors('tanggal')}" th:errors="*{tanggal}" class="text-danger"></span>
  <br/>
</div>
<div class="col-xs-12 col-sm-6">
  <label for="customer" class="form-label">Customer</label>
  <select class="form-control" th:field="*{customer}" placeholder="Customer">
    <option th:value="${jual?.customer?.id}" th:text="${jual?.customer?.nama}"></option>
  </select>
  <span th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" class="text-danger"></span>
  <br/>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $("#customer").select2({
            theme: "bootstrap4",
            ajax: {
                url: '/ac/customer',
                data: function (params) {
                    var query = {
                        q: params.term
                        // , type: 'public'
                    }
                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                dataType: 'json',
                // delay: 250,
                processResults: function (response) {
                    return {
                        results: response
                    };
                }
                // , cache: true
            }
        });	// END OF customer select2
    }); // END OF document ready
</script>