<!DOCTYPE html>
<html
        layout:decorate="~{shared/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>List Penjualan</title>
</head>
<body>
<div layout:fragment="content">
  <section class="content-header">
    <div class="container-fluid">
      <h1>List Penjualan</h1>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Transaksi Penjualan</h3>
          <div class="card-tools">
            <a href="/jual/create"><span class="fas fa-plus"></span> Create</a>
          </div>
        </div>
        <div class="card-body" >
          <div th:if="${errorMessage != null}" class="row alert alert-danger">
            <ul>
              <li th:text="${errorMessage}" />
            </ul>
          </div>

          <table class="table table-head-fixed table-hover">
            <thead>
            <tr>
              <th><a class="sorted" sd:pagination-sort="id" >ID</a></th>
              <th><a class="sorted" sd:pagination-sort="tanggal" >Tanggal</a></th>
              <th><a class="sorted" sd:pagination-sort="customer" >Customer</a></th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jual : ${juals}">
              <td th:text="${jual.id}"></td>
              <td th:text="${jual.tanggal}"></td>
              <td th:text="${jual.customer.nama}"></td>

              <td><a th:href="@{/jual/edit/{id}(id=${jual.id})}">Edit</a></td>
              <td><a th:href="@{/jual/delete/{id}(id=${jual.id})}">Delete</a></td>
            </tr>
            </tbody>
          </table>
        </div> <!-- /.card-body -->
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6">
              <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
              <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                  <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                  <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
              </nav>
            </div>
          </div> <!--/.row pagination-->
        </div>
      </div> <!-- /.card -->
    </div> <!-- /.container-fluid -->
  </section>
</div>
</body>
</html>