<div class="col-xs-12 col-sm-6">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control" th:field="*{nama}" placeholder="Nama Barang" autofocus>
    <span th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}" class="text-danger"></span>
    <br/>
</div>
