<!DOCTYPE html>
<html
        layout:decorate="~{shared/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List Barang</title>
</head>
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
             <h1>List Barang</h1>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Barang</h3>
                    <div class="card-tools">
                        <a href="/barang/create"><span class="fas fa-plus"></span> Create</a>
                    </div>
                </div>
                <!-- <div class="card-body table-responsive p-0" style="height: 350px;"> -->
                <div class="card-body" >
                    <table class="table table-head-fixed table-hover">
                        <thead>
                        <tr>
                            <th><a class="sorted" sd:pagination-sort="id" >ID</a></th>
                            <th><a class="sorted" sd:pagination-sort="nama" >Nama</a></th>
                            <th><a class="sorted" sd:pagination-sort="stok" >Stok</a></th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="barang : ${barangs}">
                            <td th:text="${barang.id}"></td>
                            <td th:text="${barang.nama}"></td>
                            <td th:text="${barang.stok}"></td>
                            <td><a th:href="@{/barang/edit/{id}(id=${barang.id})}">Edit</a></td>
                            <td><a th:href="@{/barang/delete/{id}(id=${barang.id})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div sd:pagination-summary="">info</div>
                        </div>
                        <div class="col-sm-6">
                            <nav class="pull-right">
                                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> <!--/.row pagination-->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.container-fluid -->
    </section>
</div>
</body>
</html>